<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tellus options</title>

    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <script src="../vendors/jquery-3.1.1.min.js"></script>
    <script src="../vendors/bootstrap.min.js"></script>

    <style>
        h3 {
            padding-bottom: 10px;
        }
        .bs-callout {
            padding: 20px;
            margin: 20px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
        }
        .bs-callout-info {
            border-left-color: #5bc0de;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Settings</h2>
        <form class="bs-callout bs-callout-info form-inline">
            <h3>Authentication</h3>
            <div class="form-group">
                <label>Username: </label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group" style="padding-left: 10px;">
                <label>Password: </label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-default btn-primary" style="padding-left: 10px;">Save</button>
        </form>

        <form class="bs-callout bs-callout-info form-inline">
            <h3>Language</h3>
            <div class="form-group">
                <button type="button" class="btn btn-default form-inline active">English</button>
                <button type="button" class="btn btn-default form-inline">Swedish</button>
            </div>
        </form>
    </div>
</body>
</html>