<style type="text/css">
    .info-title {
        color:black;
        font-size: 20px;
        display: block;
        margin-bottom: 0px;
    }
    .info-title-sub {
        color:gray;
        font-size: 13px;
    }
    .info-field-title {
        color:#5A5A5A;
        font-size: 12px;
        display: block;
    }
    .info-field {
        color: black;
        font-size: 15px;
    }
    .contact {
        background-color: #32434F;
        color: white;
        font-size: 10px;
        display: block;
        padding: 15px;
    }
    .contact-address-title {
        font-size: 12px;
    }
    .contact-address {
        font-size: 12px;
    }
    .contact-info {
        display: block;
        font-size: 12px;
    }
    .col-md-5{
        padding: 0;
    }
</style>

<div id="ModalSearchResult" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Search Result</h2>
            </div>
            <div class="modal-body" id="ModalSearchResult-List">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="ModalCompanyInfo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div>
            <div class="row" style="background-color: white;min-width:640px; min-height: 400px;">
                <input type="text" id="P1" hidden />
                <input type="text" id="P2" hidden />
                <div class="col-md-5">
                     <div style="width: 100%;min-height: 150px; background-color:#E5E3DF;">
                         <div id="googleMap" style="width:267px;height:150px;"></div>
                     </div>
                     <div class="contact" style="width: 100%;;min-height: 250px;">
                         <label class="contact-address-title">Address</label>
                         <label id="A1" class="contact-address">Hollandargatan 13 111 36 Stockholm</label>
                         <br/>
                         <label class="contact-address-title">Kontaktuppgifter</label>
                         <label id="A2" class="contact-info">Växel</label>
                         <label id="A3" class="contact-info">info@ffcg.se</label>
                         <label id="A4" class="contact-info">08-410 600 00</label>
                         <label class="contact-info">----</label>
                         <label id="A5" class="contact-info">Johan Pettersson (VD)</label>
                         <label id="A6" class="contact-info">johan.pettersson@ffcg.se</label>
                         <label id="A7" class="contact-info">+46 701 234 567</label>
                     </div>
                 </div>
                <div class="col-md-7" style="padding-bottom: 0;">
                    <div class="row" style="padding-top:20px; padding-left: 30px;padding-right: 30px;min-height: 352px;max-height: 352px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        <label id="M1" class="info-title">Forefront Consulting Group</label>
                        <p id="M2" class="info-title-sub" >Aktiebolag</p>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="info-field-title"><b>Bransch</b></span>
                                <label id="M3" class="info-field">IT</label>
                            </div>
                            <div class="col-md-6">
                                <span class="info-field-title"><b>Medlemsorganisation</b></span>
                                <label id="M4" class="info-field">Almega</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="info-field-title"><b>Registreringsär</b></span>
                                <label id="M5" class="info-field">2008</label>
                            </div>
                            <div class="col-md-6">
                                <span class="info-field-title"><b>Medlem sedan</b></span>
                                <label id="M6" class="info-field">2008-11-09</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="info-field-title"><b>Lönesumma (TKR)</b></span>
                                <label id="M7" class="info-field">99 050</label>
                            </div>
                            <div class="col-md-6">
                                <span class="info-field-title"><b>Kollektivavtal</b></span>
                                <label id="M8" class="info-field">Tjänstemannaavtalet Annat avtal</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="info-field-title"><b>Anställda</b></span>
                                <label id="M9" class="info-field">180</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="info-field-title"><b>Storleksklass</b></span>
                                <label id="M10" class="info-field">5</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="btn-open-tellus" style="cursor: pointer;">
                        <span style="width:136px;height:24px;font-size: 12px; color:#ffffff;background-color: #fe8211; float: right;margin-top:24px; ">
                            <img style="padding: 5px" src="../../tellus_logo_blue_16.png"/>
                            ÖPPNA I TELLUS
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function initialize() {
        var mapProp = {
            center:new google.maps.LatLng(document.getElementById("P1").value,document.getElementById("P2").value),
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }

    var setIntervalId = setInterval(function checkValue() {
        if (document.getElementById("P1").value !== '' && document.getElementById("P2").value !== '') {
            clearInterval(setIntervalId);
            setTimeout(function () {
                initialize();
            }, 1500);
        }
    },1000);
</script>